/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        /*Typography 
             
            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform
          */

        /*Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */
       
        

/* ------ START WRITING YOUR CODE BELOW ------ */
/*font import*/
@font-face {
    font-family:ultra;
    src: url(../fonts/serif/ultra-regular.ttf);
    font-weight:normal;
    font-style:normal;
           }

@font-face {
     font-family:Roboto;
     src:url(../fonts/sans-serif/roboto-regular.ttf);
     font-weight:normal;
     font-style:normal;
           }

/*General Setup*/
html{
    font-size: 16px;
    font-family:Roboto,sans-serif;
    color:#333;
   
    }
body {
    padding:0;
    margin: 0 auto;
    font-size:1rem;
    max-width:104rem;
    min-width:64rem;
    margin:3%;
    border:0.0625rem solid #333;
     }

/*Top header*/
h1{
    text-align:center;
    text-shadow:2px -1px 2px black;
    transform:rotate(-4deg);
    margin-top:2rem;
    margin-bottom:2rem;
 }
 .highlight{
    color:rgb(241, 241, 143);
    padding:1rem;
    font-family:ultra,sans-serif;
    letter-spacing:.3rem;
    font-size:2rem;
    text-transform:uppercase;
    border-radius:1rem;
    box-shadow:0.817em;
    background-color:maroon;
 }

/* add navigation styling*/

.navbar ul{
    list-style-type:none;
    background-color:none;
    padding:0rem;
    margin:0rem;
    overflow:hidden;
    padding-bottom:0rem;
    border-top:0.0625rem solid #333;
    border-bottom: 0.0625rem solid #333;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(0.5rem,0.5fr));
    grid-column-gap:0%;
     }
.navbar a{
    color:indigo;
    text-decoration:none;
    padding:1rem;
    display:block;
    text-align:center;
    }
.navbar a:hover{
    background-color:#6f6f6f;

    }
.navbar li{
    float:left;
}

main{
    margin:0 auto;
    padding-bottom:.25rem;
    width: 90%;
    }
ul{
    list-style-type:none;
  }

img{
    width:100%;
    display:block;
    max-width:25rem;
   }
a { 
   text-decoration:none;
 }

/*main-section*/
.main-section{
    display: flex;
  
}
article{
    width:75% 
}

.article-image+p {
     float:left;
     margin:0 1rem 0 0;
}
.article-image +p{
    margin-top:0 rem;
    margin-bottom:0rem;
} 
.article-image{
    width: 300px;
    float:left;
    margin-left:0rem;
    margin-right:0.5rem;
    
}

/*subsection*/
.subsection {
    margin-top:4rem;
    margin-bottom:2rem;
    padding:0;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(5rem,1fr));
    grid-column-gap:0.7%;
           }
.subsection figure{
    padding:0rem;
    margin:0rem;
    background-color:#EED;
          }
.subsection figcaption{
    font-size: 0.75rem;
    padding:.75rem;
}
.subsection img {
    padding-bottom:1%;
    min-width:5rem;
    }

/* sidebar*/
aside{
    clear:both;
    width:25%;
    margin-left:3%;
    padding-left:3%;
    border-left:0.0625rem solid #333;
    }
aside p{
    font-size:.25rem;
    padding-bottom:2rem;
    border-bottom: 0.0625rem solid #333
    }
.expand{
    font-size:0.25rem;
    display:block;
    padding-top:.5rem;
  }
button{
    margin-top:1rem;
    padding:1rem;
    font-family:ultra;
    font-size:1.5rem;
    text-transform:uppercase;
    background-color:#27476E;
    box-shadow:.187rem .187rem #333;
    border:0rem;
    border-radius:.625rem;
    background-color:#27476E;
     }
button a{
    color:#EED
      }

/*footer*/
footer{
    margin:6rem auto .5rem auto;
    width:90%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:1%;
    }
footer:nth-child(2){
    text-align: right 
}
footer a{
    color: #6f6f6f;
}
